;; rename this to default.config if you want to use these parameters by default
;; or start Jaggr with the --config-file parameter / set the CONFIG_FILE environment variable
;; to specify a custom parameter file

{
  ;; your Jenkins user name
  :user "my-user"

  ;; get the user token from then Jenkins user profile configuration page
  :user-token "xyzabcdef"

  ;; any url that points to a list of Jenkins jobs
  :base-url "http://my-jenkins:8081/jenkins/my-project/"

  ;; default background image
  :image-url "https://unsplash.it/g/600?random"

  ;; special background images for green screens
  :image-url-green "http://thecatapi.com/api/images/get?format=src&type=gif"

  ;; special background images for red screens
  :image-url-green "http://johnjohnston.info/oddsandends/ds106gif"
}