html, body {
    background: url('/backgroundimage') no-repeat center center fixed;

   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

   color: #ffffff;
   font-family: 'Open Sans', sans-serif;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   border: none;
   position: absolute;
}

#logo {
   position: absolute;
   right: 0px;
   bottom: 0px;
   padding: 50px;
   height: 150px;
   width: 150px;
}

h1 {
   font-size: 4vw;
}

.fullscreen {
   text-align: center;
   width: 100%;
   min-height: 100%;
   font-size 1vw;
   position: absolute;
}


.red {
   background: rgba(200,0,0,0.7);
}

.yellow {
   background: rgba(240,160,0,0.7);
}

.green {
   background: rgba(0,100,0,0.7);
}

.error {
   background: rgba(20,0,0,0.9);
}

.subtext {
   font-size: 1.4vw;
   font-style: italic;
   padding: 1em;
}

.job-name {
   font-size: 2vw;
   font-style: bold;
   padding: 0.3em;
}