html, body {

   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

   color: #ffffff;
   font-family: 'Open Sans', sans-serif;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   border: none;
   position: absolute;
}

#logo {
   position: absolute;
   right: 0;
   bottom: 0;
   padding: 50px;
   height: 50px;
   width: 50px;
   z-index: 1;
}

h1 {
   font-size: 4vw;
}

.fullscreen {
   text-align: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   font-size: 1vw;
}

.fullscreen img {
   width: 100%;
   height: auto;
   display: block;
   z-index: -999;
}

.red {
   background: red;
   background: rgba(200,0,0,0.7);
   z-index: 2;
}

.yellow {
   background: yellow;
   background: rgba(240,160,0,0.7);
   z-index: 2;
}

.green {
   background: green;
   background: rgba(0,100,0,0.7);
   z-index: 2;
}

.error {
   background: black;
   background: rgba(20,0,0,0.9);
   z-index: 2;
}

.subtext {
   font-size: 1.4vw;
   font-style: italic;
   padding: 1em;
}

.job-name {
   color: inherit;
   text-decoration: none;
   font-size: 2vw;
   font-weight: bold;
   padding: 0.3em;
}