body {
   background-color: #27ae60;
   color: #ffffff;
   font-family: sans-serif;
}

h1 {
   color: #ffffff;
   font-size: 40pt;
}

.failed {
   text-align: center;
   padding 100px;
   width: 100%;
   font-size 12pt;
}

.red {
   background-color: #c70039;
}

.yellow {
   background-color: #f5b041;
}

.grey {
   background-color: #808b96;
}
